[submodule "staffer_submodule"]
	path = staffer_submodule
	url = git@gitlab.com:staffer1/staffer_submodule.git
[submodule "time_capsule_submodule"]
	path = time_capsule_submodule
	url = git@github.com:mirjalilova/time_capsule_submodule.git
